<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Spring MVC + Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />

    <table>
<!--        <tr th:each="student: ${students}">-->
<!--            <td th:text="${student.id}" />-->
<!--            <td th:text="${student.name}" />-->
<!--        </tr>-->
        <tr th:each="student, iStat : ${students}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td th:text="${student.id}" />
                <td th:text="${student.name}" />
                <td>
                    <span th:if="${student.id == 1}">Hey Ben!</span>
                    <span th:else="${student.id != 1}">Hey Mimi!</span>
                </td>
        </tr>
    </table>



    </tr>
</body>
</html>



<!--    <tr th:each="student, iStat : ${students}"-->
<!--        th:style="${iStat.odd}? 'font-weight: bold;'"-->
<!--        th:alt-title="${iStat.even}? 'even' : 'odd'">-->
<!--            <td th:text="${student.id}" />-->
<!--            <td th:text="${student.name}" />-->


<!--<div th:switch="${user.role}">-->
<!--    <p th:case="'admin'">User is an administrator</p>-->
<!--    <p th:case="#{roles.manager}">User is a manager</p>-->
<!--    <p th:case="*">User is some other thing</p>-->
<!--</div>-->